{% extends 'base_cover.html' %}

{% block title %}
Main page
{% endblock %}

{% block main %}
<label for="cd-dropdown">Select planet:</label>
<select id="cd-dropdown" class="cd-select" onchange="top.location=this.value">
<option value="" selected>Select planet</option>
<option value="/planet/Tatooine/">Tatooine</option>
<option value="/planet/Alderaan/">Alderaan</option>
<option value="/planet/Yavin IV/">Yavin IV</option>
<option value="/planet/Hoth/">Hoth</option>
<option value="/planet/Dagobah/">Dagobah</option>
<option value="/planet/Bespin/">Bespin</option>
<option value="/planet/Endor/">Endor</option>
<option value="/planet/Naboo/">Naboo</option>
<option value="/planet/Coruscant/">Coruscant</option>
<option value="/planet/Kamino/">Kamino</option>
<option value="/planet/Geonosis/">Geonosis</option>
<option value="/planet/Utapau/">Utapau</option>
<option value="/planet/Mustafar/">Mustafar</option>
<option value="/planet/Kashyyyk/">Kashyyyk</option>
<option value="/planet/Polis Massa/">Polis Massa</option>
<option value="/planet/Mygeeto/">Mygeeto</option>
<option value="/planet/Felucia/">Felucia</option>
<option value="/planet/Cato Neimoidia/">Cato Neimoidia</option>
<option value="/planet/Saleucami/">Saleucami</option>
<option value="/planet/Stewjon/">Stewjon</option>
<option value="/planet/Eriadu/">Eriadu</option>
<option value="/planet/Corellia/">Corellia</option>
<option value="/planet/Rodia/">Rodia</option>
<option value="/planet/Nal Hutta/">Nal Hutta</option>
<option value="/planet/Dantooine/">Dantooine</option>
<option value="/planet/Bestine IV/">Bestine IV</option>
<option value="/planet/Ord Mantell/">Ord Mantell</option>
<option value="/planet/unknown/">unknown</option>
<option value="/planet/Trandosha/">Trandosha</option>
<option value="/planet/Socorro/">Socorro</option>
<option value="/planet/Mon Cala/">Mon Cala</option>
<option value="/planet/Chandrila/">Chandrila</option>
<option value="/planet/Sullust/">Sullust</option>
<option value="/planet/Toydaria/">Toydaria</option>
<option value="/planet/Malastare/">Malastare</option>
<option value="/planet/Dathomir/">Dathomir</option>
<option value="/planet/Ryloth/">Ryloth</option>
<option value="/planet/Aleen Minor/">Aleen Minor</option>
<option value="/planet/Vulpter/">Vulpter</option>
<option value="/planet/Troiken/">Troiken</option>
<option value="/planet/Tund/">Tund</option>
<option value="/planet/Haruun Kal/">Haruun Kal</option>
<option value="/planet/Cerea/">Cerea</option>
<option value="/planet/Glee Anselm/">Glee Anselm</option>
<option value="/planet/Iridonia/">Iridonia</option>
<option value="/planet/Tholoth/">Tholoth</option>
<option value="/planet/Iktotch/">Iktotch</option>
<option value="/planet/Quermia/">Quermia</option>
<option value="/planet/Dorin/">Dorin</option>
<option value="/planet/Champala/">Champala</option>
<option value="/planet/Mirial/">Mirial</option>
<option value="/planet/Serenno/">Serenno</option>
<option value="/planet/Concord Dawn/">Concord Dawn</option>
<option value="/planet/Zolan/">Zolan</option>
<option value="/planet/Ojom/">Ojom</option>
<option value="/planet/Skako/">Skako</option>
<option value="/planet/Muunilinst/">Muunilinst</option>
<option value="/planet/Shili/">Shili</option>
<option value="/planet/Kalee/">Kalee</option>
<option value="/planet/Umbara/">Umbara</option>
</select>
{% endblock %}